body {
    background-color: whitesmoke;
}

#mapid  {
    max-width: 90%; 
    width:700px;
    height: 400px; 
    margin:0 auto;
}

#tabs {
    max-height: 90%;
}

.visitedTab {
    height: 100%;
}

.visitedTable {
    height: 100%;
}